Repository pombase/canto, pull requests merged in 2018-10, with the labels that each got.

#1626 Update Vagrantfile to use Docker instead of Canto Vagrant box
  Vagrantfile
Labels: vagrant

#1628 Fix permissions issue with Docker folders
  Vagrantfile
Labels: vagrant

#1629 [WIP] Fix incorrect links to genotype_manage
  root/static/js/canto-modules.js
  root/static/ng_templates/genotype_list_row_links.html
Labels: PHI-Canto, genotype management

#1638 Fix genotype_manage link on phenotype annotation page
  root/static/js/canto-modules.js
Labels: PHI-Canto, annotation, genotype management

#1639 Fix genotype_manage link on genotype feature view
  root/curs/genotype_page.mhtml
  root/static/js/canto-modules.js
Labels: PHI-Canto, genotype management

#1643 Fix 'Edit...' link on genotype details view
  root/static/js/canto-modules.js
Labels: PHI-Canto, genotype management

#1642 Rename disease_formation_phenotype to new name
  root/static/js/canto-modules.js
  root/static/ng_templates/metagenotype_list_row.html
Labels: PHI-Canto, annotation, text change

#1646 Link back to summary page from meta-genotype page
  root/static/js/canto-modules.js
  root/static/ng_templates/metagenotype_manage.html
Labels: PHI-Canto, genotype management

#1653 Change canto-modules.js to store taxon ID and strain for genotypes
  root/curs/gene_page.mhtml
  root/static/js/canto-modules.js
  root/static/ng_templates/allele_edit.html
Labels: PHI-Canto, genotype management
