Repository pombase/canto, pull requests merged in 2019-12, with the labels that each got.

#2114 Always show autocomplete for short lists
  lib/Canto/Controller/Service.pm
  root/curs/autohandler
  root/static/js/canto-modules.js
  root/static/ng_templates/extension_relation_dialog.html
  root/static/ng_templates/term_name_complete.html
Labels: low priority

#1978 Tidy up the genotype table
  root/static/css/style.css
  root/static/js/canto-modules.js
  root/static/ng_templates/genotype_list_row.html
  root/static/ng_templates/genotype_list_view.html
Labels: genotype management, medium priority

#2149 Disable host genotype link until hosts are added
  lib/Canto/Controller/Curs.pm
  root/curs/front_gene_section.mhtml
Labels: PHI-Canto

#2155 Disable host genotype link until host gene exists
  lib/Canto/Controller/Curs.pm
  root/curs/front_gene_section.mhtml
Labels: PHI-Canto
